h1 Sightings
a(href="/sightings/add") Add New Sighting

ul
  - sightings.forEach(function(sighting){
    li
        a(href="/sightings/#{sighting._id}") #{sighting.latitude} #{sighting.longitude} - #{sighting.comment}
  - })