.page-header
    h1 Welcome 
        small to the playground of the Johnny Appleseed of Cunt!
.row
    .span10
        !=partial('messages')

        h2 why!?
        img(src="/images/ridiculous.jpg", alt="i don't know!")
    .span4
        a(href="/sightings/add")
            button(class="btn primary", type="submit", value="Update") Add New Sighting