p Begin with the following:
ul
	li
		a(href="/auth/facebook") Log in via Facebook
	li
		a(href="/sightings/add") Make a new sighting
	li
		a(href="/sightings") List all sightings
	li
		a(href="/bills") List all bills