- if (everyauth.loggedIn)
    p You are logged in with Facebook user: #{everyauth.facebook.user.name}
- else
    p You are not linked with your Facebook account yet. 
        a(href="/auth/facebook") Log in via Facebook