footer
    - if (everyauth.loggedIn)
        p You are logged in with Facebook user: #{everyauth.facebook.user.name}. 
            a(href="/account") View your account
            .
    - else
        p If you'd like to save a record of your sightings, please 
            !=partial('fb')
            // !=partial('fb_login')