footer
    ul.smallNav
        li
            a(href="/") Home
        li
            a(href="/sightings") Sightings
        li
            a(href="/bills") Bills

    - if (everyauth.loggedIn)
        p You are logged in with Facebook user: #{everyauth.facebook.user.name}. 
            a(href="/account") View your account
            &nbsp;
            a(href="/logout") Log out

    - else
        p If you'd like to keep a record of your sightings, please 
            !=partial('fb')
            // !=partial('fb_login')