.navbar
    .navbar-inner
        .container
            a.brand(href="/") CashTracker
            ul.nav
                li
                    a(href="/") Home
                li
                    a(href="/sightings") Sightings
                li
                    a(href="/bills") Bills
            ul.nav.secondary-nav
                li
                    a(href="/account") Your Account
            
            //- TBI: Login w/o social networks
            //- form.pull-right(action="")
            //-     input.input-small(type="text", placeholder="Username")
            //-     input.input-small(type="password", placeholder="Password")
            //-     button.btn(type="submit") Sign In