html
  head
    title
      CashTracker
    meta(name="viewport", content="user-scalable=no, width=device-width")
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(type="text/css", rel="stylesheet", href="/css/style.css")
    script(type="text/javascript", src="http://use.typekit.com/hcc0mfz.js")
    script(type="text/javascript")
        try{Typekit.load();}catch(e){}
  body
    !=partial('header')
    .container
        .content
            !=body

        .footer                    
          !=partial('footer')